@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 8px;
}
main {
    display: grid;
    grid-template-columns: 35% 180px 1fr 180px 35%;
    grid-template-rows: 180px 180px 180px 180px;
    row-gap: 50px;
    background-color: #5a1807;
    padding: 60px;
}
#gameplay {
    grid-column: 2/5;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#gameplay h6 {
    font-size: 30px;
    text-align: center;
    padding: 15px;
    color: #ffbd00;
    font-family: "Spectral", serif;
}
main img {
    width: 180px;
    height: 180px;
    display: flex;
    justify-self: center;
    align-self: center;
}
#img-1 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#img-2 {
    grid-column: 2/3;
    grid-row: 3/4;
}
#img-3 {
    grid-column: 2/3;
    grid-row: 4/5;
}
.explaination {
    display: flex;
    background-color: black;
    justify-self: center;
    align-self: center;
    width: 180px;
    height: 180px;
}
.explaination p {
    color: #ffbd00;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-self: center;
    padding: 10px;
    font-family: "Roboto", serif;
}
#explaination-1 {
    grid-column: 4/5;
    grid-row: 2/3;
}
#explaination-2 {
    grid-column: 4/5;
    grid-row: 3/4;
}
#explaination-3 {
    grid-column: 4/5;
    grid-row: 4/5;
}